{% extends "home.html" %}


{% block content %}
	<h1 class="jumbotron">{{ article.name }}</h1>

	<p>
		<h4>Technicals details</h4>
		{{ article.description }}
	</p>

	<p>
		<a href="{% url 'article_list' %}">Back to list</a>
	</p>

{% endblock %}