{% extends "home.html" %}


{% block content %}
	
	<h2 class="jumbotron">Results of searched world {{world}}</h2>

	<p>

		<table class="table table-bordered table-striped table-condensed">
   			<caption>
      			<h4>Results of searched worlds {{ world }}</h4>
   			</caption>

   			<thead>
      			<tr>
            		<th>Name</th>
            		<th>Price</th>
            		<th>Stock</th>
            		<th>Operation</th>
      			</tr>
   			</thead>

   			<tbody>
          		{% for article in articles %}
          			
				    <tr {% if article.in_promotion %} class="promotion" {% endif %}>
				       	<td>
				       		<a href="{% url 'article_detail' article.id %}" title="View details">
				       			{{article.name}}
				       		</a>
				       	</td>
				       	<td>{{article.price}}</td>
				        <td>{{article.stock}}</td>
				        <td>
				        	<form class="login-form" role="form" method="POST" action="{% url 'cart' %}">
				        		{% csrf_token %}
				        		<input type="hidden" name="articleId" value="{{ article.id }}" />
				        		<input type="number" name="quantity" min="0" max="{{article.stock}}" size="4">
				        		<button class="button btn-default">
				        			<span class="fas fa-shopping-cart"></span>
				        		</button>
				        	</form>
				        </td>
				    </tr>
				  		
        		{% endfor %}
    		</tbody>
		</table>

		{% if messages %}
    		<ul class="messages">
      			{% for message in messages %}
        			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      			{% endfor %}
    		</ul>
  		{% endif %}
	</p>

	<!-- Pagination section -->
	<p>
		{% if is_paginated %}
			<ul class="pagination">
			    {% if page_obj.has_previous %}
			        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;previous--</a></li>
			    {% else %}
			        <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}

			    {% for i in paginator.page_range %}
			        {% if page_obj.number == i %}
			            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			        {% else %}
			            <li><a href="?page={{ i }}">{{ i }}</a></li>
			        {% endif %}
			    {% endfor %}

			    {% if page_obj.has_next %}
			      <li><a href="?page={{ page_obj.next_page_number }}">--next&raquo;</a></li>
			    {% else %}
			      <li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			</ul>
		{% endif %}
	</p>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		/* This script try to avoid the backend error that occure
		when nothing is provided (quantity fields is let empty)
		Here, we just prevent the form validation...*/

		var buttons = document.getElementsByName("cart-button");

		for(var i=0; i<buttons.length; i++) {
    		buttons[i].addEventListener("click", function(event){
    			var quantity = document.getElementById("quantity").value;
      			if( !quantity || quantity === 0) {
        			event.preventDefault();
      			}
    		});
    	}
 	</script>
{% endblock %}