{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block title %}
    	<title>Supermarket</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Old IE version 8 -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Bootstrap core css -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
  </head>
  <body>
    <div class="container">
  	 {% block body %}
      {% block navigation %}
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">

          <a class="navbar-brand" href="{% url 'home' %}">home</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="{% url 'article_list' %}">Articles</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'cart' %}">Cart</a> </li>
              </ul>
            </div>

            <form class="form-inline navbar-right navbar-form" method="POST" action="{% url 'results' %}">
              {% csrf_token %}
              <input class="form-control mr-sm-2" name="search" id="search" type="text" placeholder="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>

        </nav>
      {% endblock %}

  		{% block content %}
    		<h1 class="jumbotron">Wellcome on my supermaket founds management app</h1>
    	{% endblock %}

	   {% endblock %}
    </div>


	<!-- Bootstrap core js-->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- jQuery and popper-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <!-- Usefull for additionnals scripts -->
  {% block script %}
  {% endblock %}

  </body>
</html>